{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}farghi nemikone{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
   <nav class="navbar">
    <a href="menu">📚 Academic Notes Organizer</a>
    <div class="nav-right">
        {% if user.is_authenticated %}
            <span>Hi, {{ user.username }}</span>
            <form   action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="link-button">Logout</button>

            </form>
        {% else %}
            <a href="">Sign up</a>
            <a href="{url 'login'}">Login</a>
        {% endif %}
    </div>

   </nav>

   <main class="container">
        {% if massages %}
            {% for massage in massages %}
              <div class="massage">{{massage}}</div>
            {%  endfor %}
        {% endif %}
        {% block content %}{%endblock%}
   </main>
</body>
</html>